@import "src/styles/_styles.scss";

.mealcart {
  background-color: $text-color-white;
  box-shadow: $card-shadow;
  border-radius: $border-radius-large;
  height: 560px;

  @include sticky-top;
  @include mobile {
    position: relative;
    top: 0;
    height: 360px;
  }
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;

  &-header {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
    padding: 16px 24px;

    &-title {
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: $letter-space-default;
    }

    &-clear {
      background: transparent;
      border: 2px solid $text-color-grey;
      border-radius: 30px;
      color: $text-color-grey;
      font-size: 0.5rem;
      font-weight: bold;
      letter-spacing: $letter-space-default;
      padding: 3px 12px;
      @include hover-small;
    }
  }

  &-items {
    margin: 2px 0;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    row-gap: 2px;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: $letter-space-default;
    height: 48px;
    background-color: $white;
    padding: 0 16px;

    &-count {
      font-size: $font-size-tiny;
    }

    &-subtotal {
      font-size: $font-size-small;
      &-value {
        font-weight: bold;
      }
    }
  }

  &-btn {
    @include card-bottom-primary-button;

    &--disabled {
      opacity: 0.75;
      cursor: default;
    }
  }
}
