@import "styles/_styles.scss";

.arrow {
  border: solid $text-color-grey;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 1px;

  &-right {
    transform: $scale rotate(-45deg);
  }

  &-left {
    transform: $scale rotate(135deg);
  }

  &-up {
    transform: $scale rotate(-135deg);
  }

  &-down {
    transform: $scale rotate(45deg);
  }
}
