@import "styles/_styles.scss";

.finput {
  background-color: $bg-white-light;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  border-radius: $border-radius-small;
  height: 48px;
  justify-content: center;
  min-width: 24px;
  cursor: text;

  &--focused {
    background-color: $text-color-white;
    box-shadow: inset 0px 0px 0px 2px $text-color;
  }

  &--disabled {
    background-color: lighten($text-color-greyscale, 35%);
  }

  &-label {
    font-size: $font-size-tiny;
    font-weight: 500;
    color: $text-color-greyscale;
    padding-top: 6px;
  }

  &-input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: $font-size-small;
    line-height: $font-size-small * 0.9;
    letter-spacing: $letter-space-default;

    &:-webkit-autofill {
      box-shadow: 0 0 0 30px $bg-white-light inset;
      &:focus {
        box-shadow: 0 0 0 30px $text-color-white inset;
      }
    }
  }
}
