@import "src/styles/_styles.scss";

$image-dimension: 70px;

.mlckitem {
  display: grid;
  grid-template-columns: min-content 1fr;
  background-color: $white;

  &-img {
    width: $image-dimension;
    height: $image-dimension;
    object-fit: cover;
    object-position: 43% 50%;
  }

  &-body {
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-columns: 1fr min-content;
    padding: 4px 12px;
    column-gap: 40px;

    &-section {
      &-title {
        font-size: $font-size-small;
        font-weight: 600;
        color: $text-color;
        margin-bottom: 4px;
      }

      &-subtitle {
        font-size: $font-size-tiny;
        color: $text-color-darkgrey;
      }
    }

    &-quantity {
      font-weight: bold;
      font-size: $font-size-default;
    }
  }
}
