@import "styles/_styles.scss";

.nav {
  height: $signup-navbar-height;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
}

.nav-logo {
  width: max-content;
}

.nav-content {
  flex: 1;
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr max-content;
  @include fullhd {
    max-width: 1344px;
  }

  &-img {
    height: $signup-navbar-height - 40px;
    cursor: pointer;
    @include mobile {
      width: $signup-navbar-height - 40px;
      object-fit: cover;
      object-position: top left;
      margin-right: 16px;
    }
  }

  &__step {
    display: grid;
    grid-template-columns: min-content 1fr min-content 1fr min-content 1fr;
    align-items: center;
    justify-content: center;

    column-gap: 10px;
    @include mobile {
      column-gap: 6px;
    }
  }

  &__text {
    font-size: $font-size-regular;
    font-weight: 600;
    color: $text-color-greyscale;
    text-decoration: none;

    &--active {
      color: $primary-color;
    }
  }

  &__arrow {
    width: 18px;
  }
}
