$navbar-height: 56px;

$text-color: #14142b;
$text-color-white: #f7f7fc;
$text-color-grey: #66738f;
$primary-color: #65c26f;
$input-transparent-bg: rgba(252, 252, 252, 0.2);

$font-size-default: 1rem;

$letter-space-default: 0.75px;

$border-radius-small: 16px;

$z-index-elem: 1000;
$z-index-overlay: 2000;
