@import "src/styles/_styles.scss";

.meal {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  align-items: center;
  @include desktop {
    grid-template-columns: min-content 1fr;
    grid-auto-rows: 1fr;
  }
  @include fullhd {
    min-width: 232px;
  }
  @include card;

  &-body {
    padding: 20px 20px 16px 20px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;

    @include desktop {
      grid-template-rows: min-content;
    }
  }

  &-img {
    width: calc(100% - 72px);
    height: 225px;
    margin: 12px 36px;
    object-fit: contain;
    object-position: 45% 50%;
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
    @include desktop {
      width: 100px;
      height: 100px;
      margin: 24px;
    }

    @include tiny-mobile {
      width: 85px;
      height: 85px;
    }
  }

  &-title {
    font-weight: bold;
    letter-spacing: $letter-space-default;
    font-size: $font-size-regular;
    line-height: $font-size-regular * 1.15;
    overflow: hidden;

    height: 2.1rem;
    margin-bottom: 0.7rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &-nutrients {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-tiny;
    text-align: center;
    color: $text-color-darkgrey;

    &-group {
      display: grid;
      grid-template-rows: min-content min-content;
      row-gap: 4px;

      &-title {
        font-weight: 600;
      }
    }

    margin-bottom: 16px;
  }

  &-footer {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
    grid-template: "counter button" / min-content 1fr;

    &-counter {
      grid-area: counter;
    }

    &-btn {
      grid-area: button;

      display: flex;
      align-items: center;
      justify-content: center;
      height: $counter-dimension;
      padding: 0 10px;
      font-size: $font-size-tiny;
      letter-spacing: $letter-space-default;
      border-radius: $counter-dimension / 2;
      background-color: $primary-color;
      font-weight: 500;
      width: 100%;
      @include hover-small;

      &-icon {
        margin-right: 4px;
        font-size: $font-size-regular;
      }
    }
  }
}
