@import "styles/_styles.scss";

.checkout {
  &__wrapper {
    background-color: $bg-white-dark;
    padding: 32px 24px;
    display: flex;
    justify-content: center;
    height: calc(100% - 36px);
  }

  display: grid;
  flex: 1;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: min-content;

  @include mobile {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  column-gap: 24px;
  @include fullhd {
    max-width: 1168px;
    grid-template-columns: 5fr 3fr;
  }

  &__card {
    padding: 32px;
    display: grid;
    row-gap: 32px;
  }

  &__card-title {
    margin-bottom: -32px;
    font-weight: 600;
  }

  &__names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;

    @include mobile {
      grid-template-columns: 1fr;
      row-gap: 16px;
    }
  }

  &__address {
    display: grid;
    row-gap: 16px;
  }

  &__row {
    display: grid;
    grid-template-columns: 4fr 3fr 2fr;
    column-gap: 8px;
    @include mobile {
      grid-template-columns: 1fr;
      row-gap: 16px;
    }
  }

  &__info {
    display: grid;
    row-gap: 16px;
  }

  &__header {
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__section {
    width: 100%;
    display: grid;
    row-gap: 24px;
    grid-auto-rows: min-content;

    &-card {
      @include card;
    }
  }
}

.checkout-summary {
  &__card {
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow: hidden;

    height: 450px;
    background-color: $text-color-white;
  }

  &__items {
    display: grid;
    margin-top: 2px;
    overflow-y: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    row-gap: 2px;
  }

  &__header {
    background-color: $white;
    display: flex;
    align-items: center;
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
    padding: 16px 24px;
  }

  &__title {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: $letter-space-default;
  }

  &__bill {
    @include card;
    display: grid;
    row-gap: 16px;
    padding-top: 24px;
  }

  &__info {
    padding: 0 24px;
    display: grid;
    grid-template-columns: 1fr min-content;
    font-size: $font-size-small;
  }

  &__label {
    &--primary {
      font-size: $font-size-default;
      font-weight: 500;
    }
  }

  &__value {
    font-weight: 600;
    &--primary {
      font-size: $font-size-default;
      font-weight: bold;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: $text-color-white;
  }

  &__btn {
    @include card-bottom-primary-button;
  }
}
